<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Subscribe</h1>
  </ion-header-bar>
  <ion-content>
    <form name="suscribeForm" ng-submit="doSubscribe(newUser)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Mail</span>
          <input type="text" ng-model="newUser.mail" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="newUser.password" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm password</span>
          <input type="password" name="confirmPassword" ng-model="newUser.confirmPassword" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Subscribe</button>
        </label>
        <ng-messages for="expression" role="alert">
          <ng-message when="stringValue">...</ng-message>
          <ng-message when="stringValue1, stringValue2, ...">...</ng-message>
          <ng-message when-exp="expressionValue">...</ng-message>
        </ng-messages>
      </div>
    </form>
  </ion-content>
</ion-modal-view>