<ion-view>
  <ion-content>
 <h1>Objectif </h1>

 <ion-list ng-controller="ObjectifCtrl">
  <ion-item ng-repeat="objectif in ListObjectif">
    <div class="list card">
  <div class="item item-avatar">
  <img src="ressources/objectif.png">
    <h2>{{objectif.name}}</h2>
  </div>
  <div class="item item-body">
    <img class="full-image" ng-src="{{objectif.image}}">
    
    <p>
     {{objectif.description}}

    </p>
    <p>
    	<ion-checkbox ng-checked="objectif.checked" ng-disabled="objectif.checked" ng-click="changeObjectif(objectif)">
        <label ng-if="!objectif.checked">Choisir ce programme</label>
        <label ng-if="objectif.checked">Vous suivez ce programme</label>
      </ion-checkbox>

    </p>
  </div>
</div>
 </ion-item>
 </ion-list>
  </ion-content>
</ion-view>




